header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: blue;
}
/*
#menu{
    background: black;  
}
*/
ul{
    display: flex;
    flex-direction: row;
    color: white;
   text-decoration: none;
    list-style: none;
    text-align: center;
}
ul li{
    padding: 10px;
    list-style: none;
    
}
ul li a{
    color: yellow;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}